{% extends "base.html" %}
{% block content %}

<!-- Menu -->

<body>
    <img class="capa" img src="../static/imagens/capa.png" alt="capa">
    <body background="../static/imagens/fundo.png" alt = 'background'>
 
        <div>
            <h1>Sobre a universidade</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi quas saepe necessitatibus, deleniti consectetur architecto porro. Voluptas dolorum quos quisquam maxime excepturi, doloremque libero possimus perspiciatis, earum ducimus id.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi autem error recusandae debitis, illo laudantium maxime obcaecati fuga quisquam voluptates unde consectetur? Dignissimos, earum assumenda? Officiis iure est sit veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste consequatur enim reiciendis similique pariatur ad reprehenderit. Aliquam dolores at nisi, sed enim dicta, consectetur provident ex assumenda eos, harum ea!
            </p>
        </div>
    </body>

{% endblock %}

<!-- rodape -->

