{% extends "base.html" %}
{% block content %}

<!-- Menu -->

<body>
    <body background="../static/imagens/fundo2.png" alt="fundo2">
    <!-- Corpo texto -->
    <div>
        <h1>
            Quem somos
        </h1>
    </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium veniam quasi molestias, rerum cupiditate ad dolores consequuntur<br>
            nesciunt repellat obcaecati rem cum delectus tenetur doloremque, corrupti iste nam expedita! Pariatur?Lorem ipsum dolor sit amet consectetur<br>
            adipisicing elit. Error id aspernatur, culpa mollitia iste voluptate totam sed quidem iusto. Doloremque dignissimos suscipit nobis optio.<br>
            Dolorem quae eligendi rem ipsam repellendus!Pariatur?Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate facere quasi<br>
            possimus, veritatis vitae exercitationem doloremque suscipit laudantium ab, fugit recusandae nisi minus. Necessitatibus placeat iure vel,<br>
            aspernatur natus aut.lorem</p>
        </div>
        <h1>5 Motivos para estudar</h1>      
            <ol>    
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima localização</li>
            </ol>
        </div>
<hr>
        <h1>Objetivos</h1>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis vel maiores tenetur nulla magni. Libero, repudiandae vitae voluptatibus<br>
            ab itaque assumenda ipsam rerum aut, obcaecati sequi tenetur repellat a veniam? Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Ipsa tempora suscipit debitis assumenda, repudiandae perspiciatis fuga aspernatur ex distinctio officiis impedit temporibus voluptates<br>
            nam amet, sint harum ducimus blanditiis Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia impedit velit incidunt mollitia, <br>
            minus minima autem, atque assumenda ipsum, totam architecto veritatis fugiat reprehenderit officia. Laborum perferendis ipsam temporibus<br>
            neque!</p>
        </div>
        </body>
{% endblock %}
        <!-- rodape -->
            
